n8n_workflows/1_security_scan_orchestration.json
{
  "name": "Sentinel AI - Security Scan Orchestration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "security-scan",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Scan Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "target",
              "value": "={{ $json.body.target }}"
            },
            {
              "name": "scan_type",
              "value": "={{ $json.body.scan_type }}"
            },
            {
              "name": "execution_id",
              "value": "={{ $json.body.execution_id }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/agents/recon",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"target\": \"{{ $json.target }}\",\n  \"execution_id\": \"{{ $json.execution_id }}\"\n}"
      },
      "name": "Recon Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/agents/scanner",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"target\": \"{{ $json.target }}\",\n  \"execution_id\": \"{{ $json.execution_id }}\",\n  \"recon_data\": {{ $node[\"Recon Agent\"].json }}\n}"
      },
      "name": "Scanner Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/agents/vulnerability",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"target\": \"{{ $json.target }}\",\n  \"execution_id\": \"{{ $json.execution_id }}\",\n  \"scan_results\": {{ $node[\"Scanner Agent\"].json }}\n}"
      },
      "name": "Vulnerability Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "execution_id",
              "field2": "execution_id"
            }
          ]
        },
        "options": {}
      },
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/results/save",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "Save to MongoDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"execution_id\": \"{{ $json.execution_id }}\",\n  \"message\": \"Security scan completed\",\n  \"results\": {{ $json }}\n}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook - Scan Request": {
      "main": [[{ "node": "Set Variables", "type": "main", "index": 0 }]]
    },
    "Set Variables": {
      "main": [[{ "node": "Recon Agent", "type": "main", "index": 0 }]]
    },
    "Recon Agent": {
      "main": [[{ "node": "Scanner Agent", "type": "main", "index": 0 }]]
    },
    "Scanner Agent": {
      "main": [[{ "node": "Vulnerability Agent", "type": "main", "index": 0 }]]
    },
    "Vulnerability Agent": {
      "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]]
    },
    "Merge Results": {
      "main": [[{ "node": "Save to MongoDB", "type": "main", "index": 0 }]]
    },
    "Save to MongoDB": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "staticData": null
}
