n8n_workflows/2_ai_vulnerability_analysis.json
{
  "name": "Sentinel AI - AI Vulnerability Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-vulnerability-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Vulnerability Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "vulnerability_title",
              "value": "={{ $json.body.title }}"
            },
            {
              "name": "cve_id",
              "value": "={{ $json.body.cve }}"
            },
            {
              "name": "description",
              "value": "={{ $json.body.description }}"
            },
            {
              "name": "cvss_score",
              "value": "={{ $json.body.cvss }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Parse Vulnerability",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 60000
        },
        "bodyParametersJson": "={\n  \"model\": \"llama2\",\n  \"prompt\": \"You are a cybersecurity expert. Analyze this vulnerability and provide:\\n1. Severity assessment\\n2. Potential impact\\n3. Attack scenarios\\n4. Remediation steps\\n5. Priority level\\n\\nVulnerability: {{ $json.vulnerability_title }}\\nCVE: {{ $json.cve_id }}\\nDescription: {{ $json.description }}\\nCVSS Score: {{ $json.cvss_score }}\\n\\nProvide a detailed analysis in JSON format.\",\n  \"stream\": false\n}"
      },
      "name": "Ollama - Analyze Vulnerability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse Ollama response\nconst ollamaResponse = items[0].json.response;\n\n// Try to extract JSON from response\nlet analysis;\ntry {\n  // Look for JSON in the response\n  const jsonMatch = ollamaResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysis = JSON.parse(jsonMatch[0]);\n  } else {\n    // If no JSON found, create structured response\n    analysis = {\n      raw_analysis: ollamaResponse,\n      severity: \"high\",\n      impact: \"Extracted from text\",\n      recommendations: [\"Review the analysis\"],\n      priority: \"immediate\"\n    };\n  }\n} catch (error) {\n  analysis = {\n    raw_analysis: ollamaResponse,\n    error: error.message\n  };\n}\n\nreturn [\n  {\n    json: {\n      vulnerability_id: items[0].json.cve_id,\n      ai_analysis: analysis,\n      analyzed_at: new Date().toISOString(),\n      model: \"llama2\"\n    }\n  }\n];"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/vulnerabilities/update-analysis",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json }}"
      },
      "name": "Save Analysis to DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"vulnerability_id\": \"{{ $json.vulnerability_id }}\",\n  \"analysis\": {{ $json.ai_analysis }}\n}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook - Vulnerability Data": {
      "main": [[{ "node": "Parse Vulnerability", "type": "main", "index": 0 }]]
    },
    "Parse Vulnerability": {
      "main": [[{ "node": "Ollama - Analyze Vulnerability", "type": "main", "index": 0 }]]
    },
    "Ollama - Analyze Vulnerability": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[{ "node": "Save Analysis to DB", "type": "main", "index": 0 }]]
    },
    "Save Analysis to DB": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "staticData": null
}
